{% extends 'base.html' %}

{% block content %}

<h3> Enter details of a new car </h3>
<form action="/new_car_form" method="post">

	<label for="brand">Brand: </label>
	<input type="text" name="brand" required><br/>

	<label for="model">Model: </label>
	<input type="text" name="model" required><br/>

	<label for="year">Production year: </label>
	<input type="text" name="year" required><br/>

	<label for="convertible">Convertible:</label>
	<input type="text" name="convertible" required placeholder="True or False"><br/><br/>

	<input type="submit" value="Submit">
</form>
{% endblock %} 
